@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
.content{
    height: 300px;
    background-color: lightblue;
}
.embed-responsive-map{
    min-height: 300px;
}
/* .embed-responsive-map::before{
    padding-top:30%;
} */
.follow{
    background: linear-gradient(0deg, #f9f295, #ff7f9f);
    padding-top:5px;
    padding-bottom:5px;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
}
.follow a:link { color: #70DB93; }
.follow a:visited { color: #70DB93; }
.follow a:hover { color: #70DB93; text-decoration: none;}
.follow a:active { color: #70DB93; }
.icon{
    padding: 25px;
}